* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    &[data-theme="light"] {
        --bg-image: url(./src/assets/day.jpeg);
        --bg-color: rgba(255, 255, 255, 0.6);
        --text-color: black;

    }

    &[data-theme="dark"] {
        --bg-image: url(./src/assets/night.jpeg);
        --bg-color:rgba(0, 0, 0, 0.6);
        --text-color: white;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-image) center/cover;
}

.time-container {
    min-width: 60rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6rem;
    border-radius: 2rem;
    background-color: var(--bg-color);

    .time {
        font-size: 12rem;
        line-height: 1.1;
        color: var(--text-color);
    }

    .date {
        font-size: 2.6rem;
        color: var(--text-color);
    }
}